
body {
    background-color: #FFFFFF;
    font-family: 'Poiret One', cursive;
    /*font-family: 'Hind', sans-serif;*/
    /*font-family: 'Zilla Slab Highlight', cursive;*/
}


.header {
  font-size: 4em;
  color: white;
  /*background-color: green;*/
  text-shadow: 2px 2px 4px #000000;
  font-color: #FFFFFF;
/*   background-position: 0 -1000px; */
  background-size: 100% 100%;
  background-image: url("../static/img/leaf.jpeg");
  /*background-repeat: no-repeat;*/
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
   background-size: contain;

}


hr.style17 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style17:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

h4 {
  font-family: 'Poiret One', cursive;
  /*font-family: 'Hind', sans-serif;*/
}
